{{ define "title" }}
  {{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}

{{ define "Description" }}
  {{ .Description }}
{{ end }}

{{ define "main" }}
  {{ with .Params.Image }}
    {{ $absolutePath := print "static/" . }}
    {{ if fileExists $absolutePath }}
      <div class="single-image-cover">
        <img src="{{ . | absURL }}" alt="" />
      </div>
    {{ end }}
  {{ end }}
  
  {{ if eq .Dir "layanan/" }}  
  
  <div class="taxonony-header">
    <h1>{{ .Title }}</h1>
  </div>

  <section class="content">

    {{ .Content }}

  </section>

  {{ else }}

  <section class="content">
    
    <h1>{{ .Title }}</h1>

    {{ .Content }}

  </section>
  
  {{ end }}

{{ end }}