<div class="bar"></div>
<div class="wrapper">
  <header class="site-header">
    <div>
      <a href="/" class="site-logo">
        <img src='{{ "images/logo.png" | absURL }}' alt="" />
      </a>
      <button class="btn-menu" onclick="toggleSidebar()">
        <img src='{{ "images/menu.png" | absURL }}' alt="" />
      </button>
    </div>
  </header>
  <nav class="site-nav">
    <div>
      <a href="/about-us">Tentang Mapan</a>
      <a href="/layanan">Layanan</a>
      <a href="/promos">Promo</a>
      <a href="/media">Media Release</a>
      <a href="/partnership">Partner Inquiry</a>
      <a href="/career">Karir</a>
      <a href="/faq">FAQ</a>
    </div>
  </nav>