{{ define "main" }}
  
  {{ $imagePath := print "images/" .Data.Singular  "/"  .Data.Term "-white.png" }}
  {{ $absolutePath := print "themes/mapan/static/" $imagePath}}

  <div class="taxonony-header">
    {{ if fileExists $absolutePath }}
      <img src="{{ $imagePath | absURL }}" alt="" />
    {{ else }}
    <h2>{{ .Data.Singular }} {{ .Data.Term }}</h2>
    {{ end }}
  </div>

  <div class="term-list">
    {{ range .Paginator.Pages.ByDate.Reverse }}

      <div class="term-card">
        
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ with .Params.Description }}
          {{ . }}
        {{ end }}
      
      </div>

    {{ end }}
  </div>
  
  {{ partial "pagination.html" . }}

{{ end }}