{{ define "main" }}

  <div class="taxonony-header">
    <h2>{{ .Data.Singular }}</h2>
  </div>

  <img style="width:100%" src="{{ .Site.Data.config.promoHeaderImage | absURL }}" alt="" />

  <div class="taxonomy-teaser">
    {{ .Site.Data.config.promoPretext }}
  </div>

  <div class="taxonomy-list">
    {{ range .Data.Terms.Alphabetical }}

      <div class="taxonomy-card">
        
        {{ $imagePath := print "/images/" .Page.Data.Term ".png" }}
        {{ $absolutePath := print "static" $imagePath}}
        <div class="term-logo">
          <a href={{ .Page.Permalink }}>
            {{ if fileExists $absolutePath }}
              <img src="{{ $imagePath | absURL }}" alt="" />
            {{ else }}
              {{ .Page.Title }}
            {{ end }}
          </a>
        </div>
        
        {{ $firstChild := index .Pages.ByDate.Reverse 0 }}
        
        <h3><a href="{{ $firstChild.Permalink }}">{{ $firstChild.Title }}</a></h3>
        {{ with $firstChild.Params.Description }}
          {{ . }}
        {{ end }}
      
      </div>

    {{ end }}
  </div>

{{ end }}