{{ define "main" }}

  <div class="hero">
    <div class="siema">

      {{ range .Site.Data.mainSlider }}
        {{- partial "mainSlider.html" . -}}
      {{ end }}

    </div>
    <div class="cta">
      <a href="{{ .Site.Params.mainSliderButton }}" class="btn">Gabung Sekarang</a>
    </div>
  </div>

  <section class="visi">
    <h4>Visi kami:</h4>
    <p>
      Mapan Untuk Semua Memungkinkan siapa pun untuk meningkatkan
      kehidupan mereka, mencapai tujuan mereka, dan meningkatkan martabat
      mereka dengan menghubungkan mereka dengan komunitas influencer
      terluas.
    </p>
  </section>

  <section class="tags">
    <img src='{{ "images/g176.png" | absURL }}' alt="" />
    <h4>#Kecepatan</h4>
    <p>
      Mendapatkan ide ke tangan pelanggan kami sedini mungkin, tanpa
      mengorbankan kualitas.
    </p>
  </section>

  <section class="tags">
    <img src='{{ "images/g212.png" | absURL }}' alt="" />

    <h4>#Kualitas</h4>
    <p>
      Terus meningkatkan cara kami memberikan sementara mempertahankan
      standar tertinggi seperti yang didefinisikan oleh pelanggan kami.
    </p>
  </section>
  <section class="tags">
    <img src='{{ "images/g240.png" | absURL }}' alt="" />

    <h4>#Masyarakat</h4>
    <p>
      Menciptakan perasaan terhubung dan rasa tanggung jawab satu sama
      lain. Setiap orang memainkan peran yang sama pentingnya
    </p>
  </section>

  <br />
  <div class="bar"></div>

  <div class="fig2" style='background-image: url({{ "images/g22.jpg" | absURL }});'>
    <div class="caption-2">
      Aplikasi Solusi Raih Penghasilan dengan Bantuan Komunitas!
    </div>
  </div>

  <section class="visi">
    <p>
      Satu aplikasi dengan banyak peluang di ujung jari. Menyediakan ragam
      layanan mulai dari kebutuhan harian seperti sayur dan buah segar,
      pulsa listrik dan reguler, paket data hingga voucher potongan harga
      untuk bantu raih penghasilan yang tersedia atas masukan dari
      komunitas
    </p>
  </section>

  <section class="tags tags2">
    <img src='{{ "images/g796.png" | absURL }}' alt="" />

    <h4>Meningkatkan Penghasilan</h4>
    <p>
      Menyediakan ribuan produk harian yang bisa bantu tingkatkan
      penghasilan hanya dalam satu aplikasi saja! Makin banyak layanan
      yang digunakan, semakin banyak penghasilan yang didapat.
    </p>
  </section>

  <section class="tags tags2">
    <img src='{{ "images/g772.png" | absURL }}' alt="" />

    <h4>Belajar Lebih Cepat</h4>
    <p>
      Belajar memanfaatkan layanan jadi lebih mudah dan seru karena dalam
      satu aplikasi yang sama semua produk dan layanan bisa lebih cepat
      dipelajari dengan bantuan komunitas.
    </p>
  </section>

  <section class="tags tags2">
    <img src='{{ "images/g740.png" | absURL }}' alt="" />

    <h4>Dukungan Komunitas</h4>
    <p>
      Bahas tuntas semua tentang produk dan layanan Mapan melalui
      komunitas yang diikuti. Lewat dukungan Komunitas, makin terbantu dan
      makin semangat buat raih penghasilan.
    </p>
  </section>

  <section class="layanan">
    <h3>Layanan Mapan</h3>
    <ul>
      <li>
        Mapan Mart
      </li>
      <li>
        Mapan Sayur
      </li>
      <li>
        Mapan Pulsa
      </li>
      <li>
        Mapan Voucher
      </li>
      <li>
        Mapan Donasi
      </li>
      <li>
        Mapan Arisan
      </li>
    </ul>
  </section>

  <br />
  <div class="bar"></div>

  <section class="story-h">
    <h2>
      Cerita Para Mum dari Layanan Mapan
    </h2>
    <p>
      mereka yang dapat penghasilan sambil bantu kebutuhan teman
    </p>
  </section>

  <div class="hero-2">
    <div class="siema-2">

      {{ range .Site.Data.bottomSlider }}
        {{- partial "bottomSlider.html" . -}}
      {{ end }}

{{ end }}