{{ define "main" }}

  <div class="taxonony-header">
    <h2>{{ .Title }}</h2>
  </div>

  {{ with .Params.Image }}
    {{ $absolutePath := print "static/" . }}
    {{ if fileExists $absolutePath }}
      <div class="single-image-cover">
        <img src="{{ . | absURL }}" alt="" />
      </div>
    {{ end }}
  {{ end }}
  
  <div class="taxonomy-teaser">
    {{ .Content }}
  </div>

  <div class="taxonomy-list">
    {{ range .Pages.ByTitle }}

      <div class="taxonomy-card">

        {{ $filename := .File.BaseFileName }}
        {{ $imagePath := print "/images/" $filename ".png" }}
        {{ $absolutePath := print "static" $imagePath}}

        <div class="term-logo">
          <a href={{ .Page.Permalink }}>
            {{ if fileExists $absolutePath }}
              <img src="{{ $imagePath | absURL }}" alt="" />
            {{ else }}
            <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
            {{ end }}
          </a>
        </div>
        
        {{ with .Params.Description }}
          {{ . }}
        {{ end }}
      
      </div>

    {{ end }}
  </div>

{{ end }}