{{ define "main" }}

  <div class="taxonony-header">
    <h2>{{ .Title }}</h2>
  </div>

  {{ with .Params.Image }}
    {{ $absolutePath := print "static/" . }}
    {{ if fileExists $absolutePath }}
      <div class="single-image-cover">
        <img src="{{ . | absURL }}" alt="" />
      </div>
    {{ end }}
  {{ end }}
  
  <div class="taxonomy-teaser">
    {{ .Content }}
  </div>

  <div class="term-list">
    {{ range .Pages.ByDate.Reverse }}

      <div class="term-card">
        
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ with .Params.Description }}
          {{ . }}
        {{ end }}
      
      </div>

    {{ end }}
  </div>

{{ end }}